UFEPublicChatAgent (24).json
{
  "name": "UFEPublicChatAgent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $('Process RAG Context').first()?.json?.text || $('Language mapping').first().json.text }}",
        "options": {
          "systemMessage": "==You are an assistant for the University of Finance and Economics of Mongolia (UFE).\nUser language: {{ $('Language mapping').item.json.langFull }}\n\n{{ $('Process RAG Context').first()?.json?.hasValidContext ? \n   'You have been provided with relevant information from official UFE documents. Use this information to give accurate, detailed answers. Always cite the document sources when providing information. If the information is incomplete, acknowledge it and suggest contacting the relevant department.' : \n   'Answer briefly and politely based on your general knowledge of UFE.' }}\n\nAnswer briefly and politely in the same language.\nIf the question is not related to University of Finance and Economics, politely say that you can only help with University of Finance and Economics information.",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3824,
        1808
      ],
      "id": "e41152eb-e407-4ab3-83bb-c6506221a8e8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "c25a2bf5-b81b-4001-9d42-a45da7259fab",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2240,
        1680
      ],
      "id": "82ef6e0b-83a6-4acd-8caf-19d138c4df76",
      "name": "Webhook",
      "webhookId": "c25a2bf5-b81b-4001-9d42-a45da7259fab"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "50d7267d-2688-47aa-8a5f-d4b91d0c9bd4",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d359f94c-e9d2-45d8-868c-38562214b872",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "aiagent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2528,
        1520
      ],
      "id": "18241371-2cc0-432c-801c-5698916804fb",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2768,
        1504
      ],
      "id": "b4dea186-2bbb-44ab-8b19-14482102f365",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3808,
        1984
      ],
      "id": "c315557e-b507-466b-9672-4982a5fe9164",
      "name": "OpenAI Chat Model",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "aPQCLgVZgSkiaksO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "=You are a language detector for UFE Messenger.\nDetect the language of the given text.\nReturn only one token:\n- \"mn\" for Mongolian (Cyrillic)\n- \"mnl\" for Romanized Mongolian (Mongolian words written in Latin letters)\n- \"en\" for English\nReturn only one of these tokens, nothing else.",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2464,
        1824
      ],
      "id": "91397434-6122-4dca-91e8-d6e30521ef1a",
      "name": "Language detector"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2416,
        2032
      ],
      "id": "178e4abe-c39f-4d84-9008-5662a964e8dd",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "aPQCLgVZgSkiaksO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.text || $json.body?.entry?.[0]?.messaging?.[0]?.message?.text || '')\n  .toLowerCase()\n  .trim();\n\n// ============================================\n// SYNONYM EXPANSION (FIXED - Word Boundaries)\n// ============================================\nconst synonyms = {\n  'төлбөр': ['payment', 'tuition', 'fee'],\n  'хөтөлбөр': ['program', 'curriculum'],\n  'хичээл': ['course', 'class', 'subject'],\n  'мэргэжил': ['major', 'degree'],\n  'элсэлт': ['admission', 'enrollment'],\n  'сургалт': ['training', 'education'],\n  'багш': ['teacher', 'professor', 'instructor'],\n  'оюутан': ['student', 'learner'],\n  'номын сан': ['library'],\n  'дотуур байр': ['dormitory', 'dorm'],\n  'тэтгэлэг': ['scholarship', 'grant'],\n  'шалгалт': ['exam', 'test'],\n  'бүртгэл': ['registration', 'record'],\n  'гэрчилгээ': ['certificate', 'diploma'],\n  'судалгаа': ['research', 'study'],\n  'зөвлөх': ['advisor', 'counselor']\n};\n\nfunction expandSynonyms(t) {\n  let exp = t;\n  for (const [k, arr] of Object.entries(synonyms)) {\n    // CRITICAL FIX: Use word boundaries to avoid substring matches\n    const regex = new RegExp(`\\\\b${k}\\\\b`, 'gi');\n    if (regex.test(t)) exp += \" \" + arr.join(\" \");\n  }\n  return exp;\n}\n\n// ============================================\n// FUZZY MATCH\n// ============================================\nfunction levenshtein(a, b) {\n  const matrix = [];\n  for(let i=0; i<=b.length; i++) matrix[i] = [i];\n  for(let j=0; j<=a.length; j++) matrix[0][j] = j;\n\n  for (let i=1; i<=b.length; i++) {\n    for (let j=1; j<=a.length; j++) {\n      matrix[i][j] = (b[i-1] === a[j-1])\n        ? matrix[i-1][j-1]\n        : Math.min(matrix[i-1][j] + 1, matrix[i][j-1] + 1, matrix[i-1][j-1] + 1);\n    }\n  }\n  return matrix[b.length][a.length];\n}\n\nfunction fuzzyBoost(t) {\n  const common = ['marketing','маркетинг','finance','санхүү','law','эрх зүй'];\n  const words = t.split(/\\s+/);\n\n  for (const w of words) {\n    if (w.length < 4) continue;\n    for (const term of common) {\n      const d = levenshtein(w, term);\n      if (d <= Math.floor(term.length * 0.3) && d > 0) {\n        return t + \" \" + term;\n      }\n    }\n  }\n  return t;\n}\n\nconst enhanced = fuzzyBoost(expandSynonyms(text));\n\n// ============================================\n// CONTEXT\n// ============================================\nconst isAcademic = /\\b(study|course|program|degree|хичээл|сургалт|суралцах|мэргэжил)\\b/.test(enhanced);\nconst isAdmin = /\\b(payment|төлбөр|office|алба|document|баримт)\\b/.test(enhanced);\n\n// ============================================\n// REGEX HELPER\n// ============================================\nfunction kw(...patterns) {\n  return new RegExp(patterns.join(\"|\"), \"i\");\n}\n\n// ============================================\n// COMPLETE DEPARTMENT LIST (All 22)\n// ============================================\nconst departments = [\n  // TIER 1: Priority 100\n  {\n    priority: 100,\n    name: \"Ахисан түвшний сургууль\",\n    regex: kw(\"магистр\",\"masters?\",\"m\\\\.?b\\\\.?a\\\\.?\",\"ахисан\",\"graduate school\"),\n    conf: 1.0\n  },\n  {\n    priority: 100,\n    name: \"Олон улсын сургууль\",\n    regex: kw(\"олон\\\\s*улсын\\\\s*сургууль\",\"international school\",\"exchange\",\"солилцоо\"),\n    conf: 1.0\n  },\n\n  // TIER 2: Priority 95 (Institutes)\n  {\n    priority: 95,\n    name: \"Энтрепренершип институт\",\n    regex: kw(\"энтрепренер\",\"entrepreneur\",\"startup\",\"стартап\",\"бизнес санаа\"),\n    conf: 0.95\n  },\n  {\n    priority: 95,\n    name: \"Глобал эдийн засгийн судалгааны хүрээлэн\",\n    regex: kw(\"глобал эдийн засаг\",\"global economics\",\"global research\"),\n    conf: 0.95\n  },\n  {\n    priority: 95,\n    name: \"Хамтын ажиллагаа, бизнес хөгжлийн хүрээлэн\",\n    regex: kw(\"хамтын ажиллагаа\",\"cooperation\",\"partnership\",\"бизнес хөгжил\"),\n    conf: 0.95\n  },\n  {\n    priority: 95,\n    name: \"Эрдэм шинжилгээний хэвлэл, номын сан\",\n    regex: kw(\"номын сан\",\"library\",\"publication\",\"хэвлэл\",\"research paper\"),\n    conf: 0.95\n  },\n\n  // TIER 3: Priority 90-85 (Academic Departments)\n  {\n    priority: 90,\n    name: \"Мэдээллийн системийн менежментийн тэнхим\",\n    regex: kw(\"мэдээллийн\\\\s*систем\",\"information systems\",\"ism\",\"mis\"),\n    conf: 0.9\n  },\n  {\n    priority: 85,\n    name: \"Бизнесийн удирдлагын тэнхим\",\n    regex: kw(\"бизнесийн удирдлага\",\"business administration\",\"менежмент тэнхим\"),\n    conf: 0.85\n  },\n  {\n    priority: 85,\n    name: \"Маркетингийн тэнхим\",\n    regex: kw(\"маркетингийн тэнхим\",\"marketing department\",\"маркетингийн мэргэжил\"),\n    conf: 0.85\n  },\n  {\n    priority: 85,\n    name: \"Нягтлан бодох бүртгэлийн тэнхим\",\n    regex: kw(\"нягтлан бодох\",\"accounting department\",\"acca\",\"бүртгэлийн тэнхим\"),\n    conf: 0.85\n  },\n  {\n    priority: 85,\n    name: \"Санхүүгийн удирдлагын тэнхим\",\n    regex: kw(\"санхүүгийн тэнхим\",\"finance department\",\"санхүүгийн мэргэжил\"),\n    conf: 0.85\n  },\n  {\n    priority: 85,\n    name: \"Экономиксийн тэнхим\",\n    regex: kw(\"экономиксийн тэнхим\",\"economics department\",\"эдийн засгийн тэнхим\"),\n    conf: 0.85\n  },\n  {\n    priority: 85,\n    name: \"Эрх зүйн тэнхим\",\n    regex: kw(\"эрх зүйн тэнхим\",\"эрх зүйн хөтөлбөр\",\"law department\",\"хуулийн тэнхим\",\"legal studies\"),\n    conf: 0.85\n  },\n\n  // TIER 4: Priority 80-75 (Admin Offices)\n  {\n    priority: 80,\n    name: \"Бакалаврын сургалтын алба\",\n    regex: kw(\"бакалавр\",\"undergraduate\",\"элсэлт\",\"admission\",\"бүртгүүлэх\"),\n    conf: 0.8\n  },\n  {\n    priority: 75,\n    name: \"Эдийн засаг, санхүүгийн алба\",\n    regex: kw(\"санхүүгийн алба\",\"finance office\",\"төлбөр\",\"payment\",\"scholarship\",\"тэтгэлэг\"),\n    conf: 0.75\n  },\n  {\n    priority: 75,\n    name: \"Мэдээллийн технологийн алба\",\n    regex: kw(\"айти алба\",\"it office\",\"tech support\",\"wifi\",\"password\",\"computer\"),\n    conf: 0.75\n  },\n  {\n    priority: 75,\n    name: \"Төлөвлөлт, хүний нөөцийн алба\",\n    regex: kw(\"хүний нөөц\",\"hr office\",\"төлөвлөлт\",\"human resources\"),\n    conf: 0.75\n  },\n  {\n    priority: 75,\n    name: \"Маркетингийн алба\",\n    regex: kw(\"маркетингийн алба\",\"marketing office\",\"сурталчилгаа\",\"promotion\"),\n    conf: 0.75\n  },\n  {\n    priority: 75,\n    name: \"Бүртгэл, чанарын алба\",\n    regex: kw(\"бүртгэлийн алба\",\"registry\",\"чанарын алба\",\"transcript\",\"certificate\"),\n    conf: 0.75\n  },\n  {\n    priority: 75,\n    name: \"Захиргаа, нийцлийн алба\",\n    regex: kw(\"захиргаа\",\"administration\",\"нийцэл\",\"compliance\"),\n    conf: 0.75\n  },\n\n  // TIER 5: Priority 70 (Services)\n  {\n    priority: 70,\n    name: \"Оюутны дотуур байр\",\n    regex: kw(\"дотуур байр\",\"dorm\",\"hostel\",\"dormitory\"),\n    conf: 0.7\n  },\n  {\n    priority: 70,\n    name: \"Хангамж үйлчилгээ\",\n    regex: kw(\"хангамж\",\"үйлчилгээ\",\"supply\",\"service\",\"facility\"),\n    conf: 0.7\n  },\n\n  // TIER 6: Priority 30 (General fallback)\n  {\n    priority: 30,\n    name: \"Маркетингийн тэнхим\",\n    regex: kw(\"marketing\",\"маркетинг\"),\n    conf: 0.3,\n    override: (ctx) => ctx.isAdmin ? 'Маркетингийн алба' : null\n  },\n  {\n    priority: 30,\n    name: \"Санхүүгийн удирдлагын тэнхим\",\n    regex: kw(\"finance\",\"санхүү\"),\n    conf: 0.3,\n    override: (ctx) => ctx.isAdmin ? 'Эдийн засаг, санхүүгийн алба' : null\n  }\n];\n\n// ============================================\n// MATCHING WITH OVERRIDE LOGIC\n// ============================================\nconst context = { isAcademic, isAdmin };\nlet matches = [];\n\nfor (const d of departments) {\n  if (d.regex.test(enhanced)) {\n    let finalDept = d.name;\n    let c = d.conf;\n\n    // Apply override if exists\n    if (d.override) {\n      const overrideDept = d.override(context);\n      if (overrideDept) {\n        finalDept = overrideDept;\n        c *= 0.9; // Slight penalty for override\n      }\n    }\n\n    // Context boost\n    if (isAcademic && d.conf >= 0.8) c *= 1.1;\n    if (isAdmin && d.conf >= 0.7) c *= 1.1;\n    if (c > 1) c = 1;\n\n    matches.push({ \n      department: finalDept, \n      priority: d.priority, \n      confidence: c \n    });\n  }\n}\n\n// Remove duplicates (keep highest confidence)\nconst uniqueMatches = [];\nconst seen = new Set();\nfor (const m of matches) {\n  if (!seen.has(m.department)) {\n    seen.add(m.department);\n    uniqueMatches.push(m);\n  }\n}\n\nuniqueMatches.sort((a,b) => b.confidence - a.confidence);\n\n// ============================================\n// RESULT\n// ============================================\nlet result = {\n  department: \"Бакалаврын сургалтын алба\",\n  matched: false,\n  confidence: 0,\n  alternatives: [],\n  debug: {\n    inputText: text,\n    enhancedText: enhanced,\n    contextFlags: { isAcademic, isAdmin }\n  }\n};\n\nif (uniqueMatches.length > 0) {\n  result.department = uniqueMatches[0].department;\n  result.matched = true;\n  result.confidence = Math.round(uniqueMatches[0].confidence * 100);\n  result.alternatives = uniqueMatches.slice(1,4).map(m => ({\n    department: m.department,\n    confidence: Math.round(m.confidence * 100)\n  }));\n}\n\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        1728
      ],
      "id": "d168e934-3fa0-48dd-a373-2e89985ec744",
      "name": "Department detector"
    },
    {
      "parameters": {
        "jsCode": "let text = (\n  $('Webhook').first().json.body.entry[0].messaging[0].message.text\n)\n  .toLowerCase()\n  .trim()\n  .replace(/[^\\p{L}\\p{N}\\s]/gu, '')\n  .replace(/\\s+/g, ' ');\n\nlet lang = $('Language detector').first().json.output;\n\nif (lang === 'mnl') {\n\n  function romanizedMnToCyr(text) {\n    if (!text) return text;\n    let s = text.normalize('NFC');\n\n    const fitCase = (cyr, lat) => {\n      if (lat.toUpperCase() === lat && lat.toLowerCase() !== lat) return cyr.toUpperCase();\n      if (lat[0] === lat[0].toUpperCase() && lat.slice(1) === lat.slice(1).toLowerCase())\n        return cyr[0].toUpperCase() + cyr.slice(1).toLowerCase();\n      return cyr.toLowerCase();\n    };\n\n    s = s.replace(/['’`]+/g, '');\n\n    // (1) Үгийн эхэнд e / ye\n    s = s.replace(/\\bye/gi, m => fitCase('е', m));\n    s = s.replace(/\\be/gi,  m => fitCase('Э', m));\n\n    // (2) Digraphs\n    [\n      { re:/yo/gi,to:'ё'},{ re:/yu/gi,to:'ю'},\n      { re:/ya/gi,to:'я'},{ re:/kh/gi,to:'х'},\n      { re:/sh/gi,to:'ш'},{ re:/ch/gi,to:'ч'},\n      { re:/zh/gi,to:'ж'},{ re:/ts/gi,to:'ц'},\n      { re:/ng/gi,to:'нг'},{ re:/ye/gi,to:'е'},{ re:/ai/gi,to:'ай'}\n    ].forEach(({re,to})=>s=s.replace(re,m=>fitCase(to,m)));\n\n    // (3) Тусгай үгийн сан — аялга ба loanwords\n    const smartMap = {\n      'undeg':'өндөг','buh':'бөх','tumur':'төмөр','tulbur':'төлбөр',\n      'hutulbur':'хөтөлбөр','hutulburiin':'хөтөлбөрийн',\n      'udriin':'өдрийн','udur':'өдөр','humuus':'хүмүүс','huree':'хүрээ',\n\n      // loanwords\n      'business':'бизнес','marketing':'маркетинг','management':'менежмент',\n      'finance':'санхүү','accounting':'нягтлан','department':'тэнхим',\n      'school':'сургууль','university':'их сургууль','college':'коллеж'\n    };\n    for (const [lat,cyr] of Object.entries(smartMap)) {\n      const re = new RegExp(`\\\\b${lat}\\\\b`, 'gi');\n      s = s.replace(re, cyr);\n    }\n\n    // (4) -iin → -ийн / -ын\n    s = s.replace(/\\b([a-z]+?)iin\\b/gi,(m,stem)=>{\n      const hasFront=/[ei]/i.test(stem);\n      const hasBack=/[aou]/i.test(stem);\n      const ending=(hasBack&&!hasFront)?'ын':'ийн';\n      return stem + ending;\n    });\n\n    // (5) Бүх үсэг\n    const map={\n      a:'а',b:'б',c:'ц',d:'д',e:'э',f:'ф',g:'г',h:'х',i:'и',j:'ж',\n      k:'к',l:'л',m:'м',n:'н',o:'о',p:'п',q:'к',r:'р',s:'с',t:'т',\n      u:'у',v:'в',w:'в',x:'кс',y:'й',z:'з'\n    };\n    s=s.replace(/[a-z]/gi,m=>{\n      const to=map[m.toLowerCase()];\n      return to?fitCase(to,m):m;\n    });\n\n    return s;\n  }\n\n  text = romanizedMnToCyr(text);\n  lang = 'mn';\n}\n\nlet langFull = lang === 'mn' ? 'Mongolian' : 'English';\nreturn [{ json: { lang, langFull, text } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        1824
      ],
      "id": "c5ed805f-1c12-469d-905d-f1d9eb3db15f",
      "name": "Language mapping"
    },
    {
      "parameters": {
        "jsCode": "// === Normalize incoming message text ===\nconst text = (\n  $input.first().json.text || ''\n)\n  .toLowerCase()\n  .normalize('NFC')\n  .trim();\n\nconsole.log('User text:', text);\n\n// ============================================\n// INTENT DETECTION (Priority Order Matters!)\n// ============================================\n\n// === 1. GREETING INTENT ===\nconst greetingPattern =\n  /^(hello|hi|hey|yo|good\\s*(morning|afternoon|evening)|greetings|сайн(\\s*(уу|байна уу))?|мэнд(чилгээ)?|хэр\\s*байна|хөөе|өглөөний мэнд|оройн мэнд)[\\s\\.!?]*$/iu;\n\nif (greetingPattern.test(text)) {\n  return [{ intent: 'Greeting', text }];\n}\n\n// === 2. CONTACT REQUEST INTENT (Most Specific) ===\n// Keywords that clearly indicate wanting contact info\nconst contactKeywords = \n  /(утас|дугаар|phone|number|холбогдох|contact|email|и-мэйл|зөвлөх|багш|professor|teacher|staff|холбоо\\s*барих|уулзах|appointment|meeting)/iu;\n\n// Strong contact indicators\nconst strongContactPattern =\n  /(утас(ны)?\\s*дугаар|phone\\s*number|холбогдох\\s*(утас|дугаар)|и-мэйл\\s*хаяг|email\\s*address|холбоо\\s*барих|багш(тай)?\\s*холбогдох|contact\\s*(info|details)|reach\\s*out)/iu;\n\nif (strongContactPattern.test(text)) {\n  return [{ intent: 'Contact_Request', text }];\n}\n\n// FIXED: Medium contact - has contact keyword + (department/office OR program/school mention)\nconst departmentOrProgramPattern = \n  /(тэнхим|алба|хэлтэс|department|office|сургууль|school|хөтөлбөр|program|мэргэжил|major|бакалавр|bachelor|магистр|master|мба|mba|ахисан|graduate|докторант|phd|институт|institute)/iu;\n\nif (contactKeywords.test(text) && departmentOrProgramPattern.test(text)) {\n  return [{ intent: 'Contact_Request', text }];\n}\n\n// === 3. COMPLAINT/ISSUE INTENT ===\nconst complaintPattern =\n  /(асуудал|problem|issue|error|алдаа|буруу|тусламж\\s*хэрэгтэй|broken|doesn'?t\\s*work|ажиллахгүй|complaint|гомдол|санал\\s*хүсэлт)/iu;\n\nif (complaintPattern.test(text)) {\n  return [{ intent: 'Complaint', text }];\n}\n\n// === 4. ASK INFO INTENT (Refined) ===\n\n// 4a. Program/Course Info\nconst programInfoPattern =\n  /\\b(program|course|curriculum|major|bachelor|master|mba|graduate|phd|doctorate)\\b|(хөтөлбөр|хичээл|сургалт|мэргэжил|бакалавр|магистр|мба|ахисан)/iu;\n\n// 4b. Admission Info\nconst admissionInfoPattern =\n  /\\b(admission|apply|application|requirement|exam|test|score)\\b|(элсэлт|бүртгэл|бүртгүүлэх|шаардлага|шалгалт)/iu;\n\n// 4c. Financial Info\nconst financialInfoPattern =\n  /\\b(tuition|fee|cost|payment|scholarship|grant|financial\\s*aid)\\b|(өртөг|төлбөр|төлбөрийн|тэтгэлэг|санхүүгийн\\s*дэмжлэг)/iu;\n\n// 4d. Schedule/Logistics (FIXED: \"цаг\" only matches as standalone word)\nconst scheduleInfoPattern =\n  /\\b(schedule|calendar|class\\s*time|location|campus|address|time|duration)\\b|(\\bцаг\\b|хуваарь|байршил|хаяг|үргэлжлэх\\s*хугацаа)/iu;\n\n// Ask-info keywords present?\nconst hasAskInfoKeyword = \n  programInfoPattern.test(text) || \n  admissionInfoPattern.test(text) || \n  financialInfoPattern.test(text) || \n  scheduleInfoPattern.test(text);\n\n// \"Asking about\" cue words (expanded to catch more question patterns)\nconst isAskingAbout = \n  /(what|how|when|where|why|tell\\s*me|info|which|who)\\b|юу|яаж|хэзээ|хаана|яагаад|хэдэн|хэд|хэмжээ|мэдээлэл|тухай|талаар|вэ|уу|юм уу|байна уу|байх вэ|судлах|сурах|авах|хийх/iu.test(text);\n\n// FIXED: Only classify as Ask_Info if it has UFE-related keywords AND is asking\nif (hasAskInfoKeyword && !contactKeywords.test(text)) {\n  return [{ \n    intent: 'Ask_Info', \n    text,\n    debug: {\n      hasAskInfoKeyword,\n      isAskingAbout,\n      hasContactKeywords: contactKeywords.test(text),\n      reason: 'Information keywords detected'\n    }\n  }];\n}\n\n// === 5. GENERAL INQUIRY INTENT ===\nconst generalInquiryPattern =\n  /(help|information|guide|explain|introduce|support|assist|features?|ability|bot|assistant|тусламж|мэдээлэл|гарын\\s*авлага|тайлбарла|танилцуул|дэмжлэг|туслах|юу\\s*хийж\\s*чадна|яаж\\s*туслах|функц|чадвар|бот)/iu;\n\nif (generalInquiryPattern.test(text)) {\n  return [{ intent: 'General_Inquiry', text }];\n}\n\n// === 6. THANK YOU INTENT ===\nconst thankYouPattern =\n  /^(thank\\s*you|thanks|thank\\s*u|thx|баярлалаа|баярлаа|спасибо)[\\s\\.!?]*$/iu;\n\nif (thankYouPattern.test(text)) {\n  return [{ intent: 'Thank_You', text }];\n}\n\n// === 7. NON-UFE TOPIC FILTER (Saves API costs) ===\n// Common non-UFE topics that should go straight to fallback\nconst nonUFETopics = \n  /(weather|цаг агаар|movie|кино|food|хоол|restaurant|цагаан сар|наадам|holiday|баяр|sport|спорт|game|тоглоом|music|хөгжим|news|мэдээ)/iu;\n\n// If it's clearly asking about non-UFE topics AND doesn't mention UFE/university\nif (nonUFETopics.test(text) && !/(уфе|ufe|сургууль|university|тэнхим|алба|их сургууль)/iu.test(text)) {\n  return [{ \n    intent: 'Other', \n    text,\n    reason: 'non_ufe_topic',\n    debug: {\n      matchedNonUFE: nonUFETopics.test(text),\n      mentionsUFE: /(уфе|ufe|сургууль|university|тэнхим|алба|их сургууль)/iu.test(text)\n    }\n  }];\n}\n\n// === 8. DEFAULT FALLBACK ===\nreturn [{ \n  intent: 'Other', \n  text,\n  reason: 'default_fallback',\n  debug: {\n    hasAskInfoKeyword,\n    isAskingAbout,\n    hasContactKeywords: contactKeywords.test(text),\n    hasComplaint: complaintPattern.test(text),\n    hasGeneralInquiry: generalInquiryPattern.test(text)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        1904
      ],
      "id": "696b5606-ab7a-4401-8671-73b7848f5652",
      "name": "Intent detector"
    },
    {
      "parameters": {
        "jsCode": "const lang = $json.lang || 'mn';\nconst detectorData = $('Department detector').first().json;\nconst dept = detectorData.department || 'Бакалаврын сургалтын алба';\nconst confidence = detectorData.confidence || 0;\nconst alternatives = detectorData.alternatives || [];\nconst intent = $('Intent detector').first().json.intent;\n\n// === CONTACT DIRECTORY ===\nconst contacts = {\n  \"Ахисан түвшний сургууль\": {\n    mn: \"🎓 Ахисан түвшний сургууль\\n📞 Утас: 7000-1122\\n📧 И-мэйл: graduate@ufe.edu.mn\",\n    en: \"🎓 Graduate School\\n📞 Phone: 7000-1122\\n📧 Email: graduate@ufe.edu.mn\"\n  },\n  \"Бакалаврын сургалтын алба\": {\n    mn: \"🏢 Бакалаврын сургалтын алба\\n📞 Утас: 7000-1100\\n📧 И-мэйл: undergrad@ufe.edu.mn\",\n    en: \"🏢 Undergraduate Office\\n📞 Phone: 7000-1100\\n📧 Email: undergrad@ufe.edu.mn\"\n  },\n  \"Бизнесийн удирдлагын тэнхим\": {\n    mn: \"💼 Бизнесийн удирдлагын тэнхим\\n📞 Утас: 7000-1133\\n📧 И-мэйл: business@ufe.edu.mn\",\n    en: \"💼 Department of Business Administration\\n📞 Phone: 7000-1133\\n📧 Email: business@ufe.edu.mn\"\n  },\n  \"Маркетингийн тэнхим\": {\n    mn: \"📊 Маркетингийн тэнхим\\n📞 Утас: 7000-1140\\n📧 И-мэйл: marketing@ufe.edu.mn\",\n    en: \"📊 Department of Marketing\\n📞 Phone: 7000-1140\\n📧 Email: marketing@ufe.edu.mn\"\n  },\n  \"Мэдээллийн системийн менежментийн тэнхим\": {\n    mn: \"💻 Мэдээллийн системийн менежментийн тэнхим\\n📞 Утас: 7000-1141\\n📧 И-мэйл: ism@ufe.edu.mn\",\n    en: \"💻 Department of Information Systems Management\\n📞 Phone: 7000-1141\\n📧 Email: ism@ufe.edu.mn\"\n  },\n  \"Нягтлан бодох бүртгэлийн тэнхим\": {\n    mn: \"📑 Нягтлан бодох бүртгэлийн тэнхим\\n📞 Утас: 7000-1142\\n📧 И-мэйл: accounting@ufe.edu.mn\",\n    en: \"📑 Department of Accounting\\n📞 Phone: 7000-1142\\n📧 Email: accounting@ufe.edu.mn\"\n  },\n  \"Санхүүгийн удирдлагын тэнхим\": {\n    mn: \"💰 Санхүүгийн удирдлагын тэнхим\\n📞 Утас: 7000-1144\\n📧 И-мэйл: finance@ufe.edu.mn\",\n    en: \"💰 Department of Finance\\n📞 Phone: 7000-1144\\n📧 Email: finance@ufe.edu.mn\"\n  },\n  \"Эконометриксийн тэнхим\": {\n    mn: \"📈 Эконометриксийн тэнхим\\n📞 Утас: 7000-1145\\n📧 И-мэйл: economics@ufe.edu.mn\",\n    en: \"📈 Department of Economics\\n📞 Phone: 7000-1145\\n📧 Email: economics@ufe.edu.mn\"\n  },\n  \"Эрх зүйн тэнхим\": {\n    mn: \"⚖️ Эрх зүйн тэнхим\\n📞 Утас: 7000-1146\\n📧 И-мэйл: law@ufe.edu.mn\",\n    en: \"⚖️ Department of Law\\n📞 Phone: 7000-1146\\n📧 Email: law@ufe.edu.mn\"\n  },\n  \"Эдийн засаг, санхүүгийн алба\": {\n    mn: \"💵 Эдийн засаг, санхүүгийн алба\\n📞 Утас: 7000-1150\\n📧 И-мэйл: finoffice@ufe.edu.mn\",\n    en: \"💵 Finance & Economics Office\\n📞 Phone: 7000-1150\\n📧 Email: finoffice@ufe.edu.mn\"\n  },\n  \"Эрдэм шинжилгээний хэвлэл, номын сан\": {\n    mn: \"📚 Эрдэм шинжилгээний хэвлэл, номын сан\\n📞 Утас: 7000-1130\\n📧 И-мэйл: library@ufe.edu.mn\",\n    en: \"📚 Research Publications & Library\\n📞 Phone: 7000-1130\\n📧 Email: library@ufe.edu.mn\"\n  },\n  \"Олон улсын сургууль\": {\n    mn: \"🌍 Олон улсын сургууль\\n📞 Утас: 7000-1155\\n📧 И-мэйл: intl@ufe.edu.mn\",\n    en: \"🌍 International School\\n📞 Phone: 7000-1155\\n📧 Email: intl@ufe.edu.mn\"\n  },\n  \"Энтрепренершип институт\": {\n    mn: \"🚀 Энтрепренершип институт\\n📞 Утас: 7000-1156\\n📧 И-мэйл: entrepreneur@ufe.edu.mn\",\n    en: \"🚀 Entrepreneurship Institute\\n📞 Phone: 7000-1156\\n📧 Email: entrepreneur@ufe.edu.mn\"\n  },\n  \"Глобал эдийн засгийн судалгааны хүрээлэн\": {\n    mn: \"🌐 Глобал эдийн засгийн судалгааны хүрээлэн\\n📞 Утас: 7000-1157\\n📧 И-мэйл: global@ufe.edu.mn\",\n    en: \"🌐 Institute of Global Economics Research\\n📞 Phone: 7000-1157\\n📧 Email: global@ufe.edu.mn\"\n  },\n  \"Мэдээллийн технологийн алба\": {\n    mn: \"🖥️ Мэдээллийн технологийн алба\\n📞 Утас: 7000-1160\\n📧 И-мэйл: it@ufe.edu.mn\",\n    en: \"🖥️ Information Technology Office\\n📞 Phone: 7000-1160\\n📧 Email: it@ufe.edu.mn\"\n  },\n  \"Төлөвлөлт, хүний нөөцийн алба\": {\n    mn: \"👥 Төлөвлөлт, хүний нөөцийн алба\\n📞 Утас: 7000-1161\\n📧 И-мэйл: hr@ufe.edu.mn\",\n    en: \"👥 Planning & Human Resources Office\\n📞 Phone: 7000-1161\\n📧 Email: hr@ufe.edu.mn\"\n  },\n  \"Маркетингийн алба\": {\n    mn: \"📣 Маркетингийн алба\\n📞 Утас: 7000-1162\\n📧 И-мэйл: mkt@ufe.edu.mn\",\n    en: \"📣 Marketing Office\\n📞 Phone: 7000-1162\\n📧 Email: mkt@ufe.edu.mn\"\n  },\n  \"Оюутны дотуур байр\": {\n    mn: \"🏠 Оюутны дотуур байр\\n📞 Утас: 7000-1170\\n📧 И-мэйл: dorm@ufe.edu.mn\",\n    en: \"🏠 Student Dormitory\\n📞 Phone: 7000-1170\\n📧 Email: dorm@ufe.edu.mn\"\n  },\n  \"Хангамж үйлчилгээ\": {\n    mn: \"🔧 Хангамж үйлчилгээ\\n📞 Утас: 7000-1171\\n📧 И-мэйл: supply@ufe.edu.mn\",\n    en: \"🔧 Supply & Services Office\\n📞 Phone: 7000-1171\\n📧 Email: supply@ufe.edu.mn\"\n  },\n  \"Захиргаа, нийцлийн алба\": {\n    mn: \"📋 Захиргаа, нийцлийн алба\\n📞 Утас: 7000-1180\\n📧 И-мэйл: admin@ufe.edu.mn\",\n    en: \"📋 Administration & Compliance Office\\n📞 Phone: 7000-1180\\n📧 Email: admin@ufe.edu.mn\"\n  },\n  \"Бүртгэл, чанарын алба\": {\n    mn: \"✅ Бүртгэл, чанарын алба\\n📞 Утас: 7000-1181\\n📧 И-мэйл: registry@ufe.edu.mn\",\n    en: \"✅ Registry & Quality Office\\n📞 Phone: 7000-1181\\n📧 Email: registry@ufe.edu.mn\"\n  },\n  \"Хамтын ажиллагаа, бизнес хөгжлийн хүрээлэн\": {\n    mn: \"🤝 Хамтын ажиллагаа, бизнес хөгжлийн хүрээлэн\\n📞 Утас: 7000-1190\\n📧 И-мэйл: cooperation@ufe.edu.mn\",\n    en: \"🤝 Institute of Cooperation & Business Development\\n📞 Phone: 7000-1190\\n📧 Email: cooperation@ufe.edu.mn\"\n  }\n};\n\n// === Build reply ===\nlet reply;\nlet contactFound = false;\n\n// If confidence is TOO LOW (<40%), suggest being more specific\nif (confidence < 40) {\n  reply = lang === 'mn'\n    ? `🤔 Мэдээлэл тодорхойгүй байна.\\n📞 7000-1100 руу шууд залгана уу.\\n📧 info@ufe.edu.mn`\n    : `🤔 Low confidence.\\n📞 Call 7000-1100 directly.\\n📧 info@ufe.edu.mn`;\n  \n  contactFound = false;\n} else if (contacts[dept]) {\n  reply = contacts[dept][lang];\n  contactFound = true;\n  \n  // Add alternatives if confidence < 70%\n  if (confidence < 70 && alternatives.length > 0) {\n    const altSuggestion = lang === 'mn' \n      ? '\\n🔄 Өөр алба хайж байгаа бол:'\n      : '\\n🔄 If looking for different department:';\n    \n    const altList = alternatives\n      .filter(alt => contacts[alt.department])\n      .slice(0, 2)\n      .map(alt => `\\n• ${contacts[alt.department][lang]}`)\n      .join('');\n    \n    if (altList) reply += altSuggestion + altList;\n  }\n} else {\n  console.error(`❌ Missing contact: \"${dept}\"`);\n  \n  // Fallback with alternatives\n  if (alternatives.length > 0 && contacts[alternatives[0].department]) {\n    const fallback = alternatives[0].department;\n    reply = lang === 'mn'\n      ? `⚠️ \"${dept}\" албаны мэдээлэл одоогоор байхгүй байна.\\n` +\n        `🔄 Эдгээр албатай холбогдож болно:\\n• ${contacts[fallback].mn}`\n      : `⚠️ Contact info for \"${dept}\" unavailable.\\n` +\n        `🔄 Try:\\n• ${contacts[fallback].en}`;\n    \n    if (alternatives.length > 1 && contacts[alternatives[1].department]) {\n      reply += `\\n• ${contacts[alternatives[1].department][lang]}`;\n    }\n  } else {\n    reply = lang === 'mn'\n      ? `😔 Уучлаарай, \"${dept}\" албаны мэдээлэл байхгүй байна.\\n` +\n        `📞 7000-1100 (Бакалаврын алба) руу залгана уу.`\n      : `😔 Sorry, contact info for \"${dept}\" unavailable.\\n` +\n        `📞 Call 7000-1100 (Undergraduate Office).`;\n  }\n}\n\nreturn [{\n  reply,\n  model: 'static_response',\n  promptTokens: 0,\n  completionTokens: 0,\n  totalTokens: 0,\n  cost: 0,\n  intent,\n  confidence,\n  contactFound\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        1408
      ],
      "id": "69a51aa5-4dd7-4e2e-baae-6e53eba23acd",
      "name": "Contact info reply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook').first().json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAALZCUMYIur4BPyPiKBcvhZC5YlIvB31oi6zZAP2ObFSX9NurOMo9D1ch9ZAa1YhTrMDZCW5lOx0L5XrGg7zpbTp5wnJ8dfMyp7fp1nl971ZCpdZCXe4wZBrY3NJ85lND6ZA4PcGkdWZCjIBME7mZBiZB42zCbwc76g5ylO8pTVtiVn7EcSibGOhNhDZA2J81ZAeM1x0wtWHH8pgZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').first().json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": {{ JSON.stringify($json.bot_reply) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4624,
        1808
      ],
      "id": "2ac6fee4-86a7-4390-a343-5d704f68339e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Choose a friendly fallback message\nconst intent = $('Intent detector').first().json.intent;\nlet reply;\nif ($('Language mapping').first().json.lang === 'mn') {\n  reply = \"😔 Уучлаарай, би зөвхөн Санхүү Эдийн Засгийн Их Сургууль (СЭЗИС)-тай холбоотой мэдээлэл өгөх боломжтой. Та тодорхой асуултаа сургуулийн хүрээнд бичнэ үү.\";\n} else {\n  reply = \"😔 Sorry, I can only assist with information related to the University of Finance and Economics (UFE). Please rephrase your question about UFE.\";\n}\n\n// Output for Messenger reply\nreturn [{ \n  reply, \n  model: 'static_response',\n  totalTokens: 0, \n  cost: 0,\n  intent,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        2288
      ],
      "id": "544517b7-e9d2-4638-9bb3-9900c9905c58",
      "name": "Fallback reply"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88ebcb02-6cd8-44c6-8903-5a7769b1fe52",
                    "leftValue": "={{ $('Intent detector').item.json.intent }}",
                    "rightValue": "Greeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fba5734a-1e7f-4905-86a6-4a88ac34e604",
                    "leftValue": "={{ $('Intent detector').item.json.intent }}",
                    "rightValue": "Contact_Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Intent detector').item.json.intent }}",
                    "rightValue": "=Ask_Info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "436a1f94-e3ba-4b6c-a52c-d5be2f82ed47"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f88f9985-7dd1-42e6-8339-f31295673026",
                    "leftValue": "={{ $('Intent detector').item.json.intent }}",
                    "rightValue": "General_Inquiry",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee21ce01-3828-4562-bde8-6e1451825b2b",
                    "leftValue": "={{ $('Intent detector').item.json.intent }}",
                    "rightValue": "Complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c7b2b4d3-a5db-4871-a9ce-e98602cbb2ad",
                    "leftValue": "={{ $('Intent detector').item.json.intent }}",
                    "rightValue": "Other",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1511dbe4-d533-425a-b195-0fd01aa1fde3",
                    "leftValue": "={{ $('Intent detector').item.json.intent }}",
                    "rightValue": "Thank_You",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3472,
        1744
      ],
      "id": "20f6b1d1-c4b3-4f1b-a4af-bc1019d6e9ae",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst intent = $('Intent detector').first().json.intent;\n\n// ============================================\n// MANUAL TOKEN ESTIMATION (Fallback)\n// ============================================\nfunction estimateTokens(text) {\n  if (!text) return 0;\n  const cleanText = text.trim();\n  const words = cleanText.split(/\\s+/);\n  \n  let tokenCount = 0;\n  for (const word of words) {\n    if (word.length === 0) continue;\n    if (word.length <= 4) {\n      tokenCount += 1;\n    } else if (word.length <= 8) {\n      tokenCount += Math.ceil(word.length / 5);\n    } else {\n      tokenCount += Math.ceil(word.length / 4);\n    }\n  }\n  return tokenCount;\n}\n\n// ============================================\n// 1. Initialize counters\n// ============================================\nlet totalTokens = 0;\nlet promptTokens = 0;\nlet completionTokens = 0;\nlet tokenSource = 'none'; // Track where tokens came from\n\n// ============================================\n// 2. Try intermediateSteps (tool/agent steps)\n// ============================================\nif (Array.isArray(data.intermediateSteps)) {\n  for (const step of data.intermediateSteps) {\n    const usage =\n      step?.metadata?.llmOutput?.tokenUsage ||\n      step?.llmOutput?.tokenUsage ||\n      step?.metadata?.usage;\n    \n    if (usage) {\n      totalTokens       += usage.totalTokens       || usage.total_tokens       || 0;\n      promptTokens      += usage.promptTokens      || usage.prompt_tokens      || 0;\n      completionTokens  += usage.completionTokens  || usage.completion_tokens  || 0;\n      tokenSource = 'intermediateSteps';\n    }\n  }\n}\n\n// ============================================\n// 3. If nothing from steps, try top-level usage\n// ============================================\nif (totalTokens === 0) {\n  const usage =\n    data?.llmOutput?.tokenUsage ||\n    data?.metadata?.llmOutput?.tokenUsage ||\n    data?.data?.usage ||\n    data?.usage;\n  \n  if (usage) {\n    totalTokens      = usage.totalTokens       || usage.total_tokens       || 0;\n    promptTokens     = usage.promptTokens      || usage.prompt_tokens      || 0;\n    completionTokens = usage.completionTokens  || usage.completion_tokens  || 0;\n    tokenSource = 'topLevel';\n  }\n}\n\n// ============================================\n// 4. FALLBACK: Manual estimation if no metadata\n// ============================================\nif (totalTokens === 0) {\n  // Try to find input message\n  const inputMessage = $('Language mapping').first().json.text || '';\n  \n  // Get reply text\n  \n  const reply = data.output || data.text || data.response || '';\n  \n  // Estimate tokens manually\n  promptTokens = estimateTokens(inputMessage);\n  completionTokens = estimateTokens(reply);\n  totalTokens = promptTokens + completionTokens;\n  tokenSource = 'estimated';\n}\n\n// ============================================\n// 5. Model detection and pricing\n// ============================================\nconst model = data.model || data.modelName || 'gpt-4o-mini';\n\n// Pricing per 1M tokens (adjust as needed)\nconst pricingTable = {\n  'gpt-4o-mini': { input: 0.150, output: 0.600 },\n  'gpt-4o': { input: 2.50, output: 10.00 },\n  'gpt-4-turbo': { input: 10.00, output: 30.00 },\n  'gpt-4': { input: 30.00, output: 60.00 },\n  'gpt-3.5-turbo': { input: 0.50, output: 1.50 },\n  'claude-3-5-sonnet': { input: 3.00, output: 15.00 },\n  'claude-3-opus': { input: 15.00, output: 75.00 },\n  'claude-3-haiku': { input: 0.25, output: 1.25 }\n};\n\n// Get pricing (default to gpt-4o-mini if model not found)\nconst pricing = pricingTable[model] || pricingTable['gpt-4o-mini'];\nconst inputRate = pricing.input / 1000000;\nconst outputRate = pricing.output / 1000000;\n\n// Calculate cost\nconst cost = (promptTokens * inputRate) + (completionTokens * outputRate);\n\n// ============================================\n// 6. Reply text\n// ============================================\nconst reply = data.output || data.text || data.response || 'No reply text.';\n\n// ============================================\n// 7. Return comprehensive data\n// ============================================\nreturn [{\n  reply,\n  totalTokens,\n  promptTokens,\n  completionTokens,\n  cost,\n  intent,\n  costFormatted: `$${cost.toFixed(6)}`,\n  model,\n  tokenSource, // 'intermediateSteps', 'topLevel', or 'estimated'\n  isEstimated: tokenSource === 'estimated',\n  pricing: {\n    inputPerMillion: pricing.input,\n    outputPerMillion: pricing.output\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4144,
        1808
      ],
      "id": "36dd876c-de16-44be-b991-cd55b606f537",
      "name": "AI output to REPLY"
    },
    {
      "parameters": {
        "jsCode": "const intent = $('Intent detector').first().json.intent;\nlet reply;\n\nif ($('Language mapping').first().json.lang === 'mn') {\n  reply = \"Сайн байна уу! 👋\\nБи СЭЗИС-ийн туслах бот байна.\\nТанд өнөөдөр хэрхэн туслах вэ?\";\n} else {\n  reply = \"Hello! 👋\\nI'm the UFE Assistant.\\nHow can I assist you today?\";\n}\nreturn [{ \n  reply, \n  model: 'static_response',\n  promptTokens: 0,\n  completionTokens: 0,\n  totalTokens: 0, \n  cost: 0,\n  intent,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        1264
      ],
      "id": "4c91340a-f133-4308-81a8-6798192e791e",
      "name": "greetingReply"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3264,
        1824
      ],
      "id": "85bae974-c9e9-4211-910d-6203e31f5eaa",
      "name": "Merge"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3920,
        2000
      ],
      "id": "d6147c0d-1f4a-46e5-b6ed-ae6a3854bca9",
      "name": "Simple Memory(Shared)"
    },
    {
      "parameters": {
        "jsCode": "// Smart Complaint Reply Handler\n// Uses already-detected department from Department Detector node\n\nconst lang = $('Language mapping').first().json.lang;\nconst detectorData = $('Department detector').first().json;\nconst dept = detectorData.department || 'Бакалаврын сургалтын алба';\nconst confidence = detectorData.confidence || 0;\nconst intent = $('Intent detector').first().json.intent;\n\n// Get contact info from the same directory as Contact Info Reply\nconst contacts = {\n  \"Ахисан түвшний сургууль\": { phone: \"7000-1122\", email: \"graduate@ufe.edu.mn\" },\n  \"Бакалаврын сургалтын алба\": { phone: \"7000-1100\", email: \"undergrad@ufe.edu.mn\" },\n  \"Бизнесийн удирдлагын тэнхим\": { phone: \"7000-1133\", email: \"business@ufe.edu.mn\" },\n  \"Маркетингийн тэнхим\": { phone: \"7000-1140\", email: \"marketing@ufe.edu.mn\" },\n  \"Мэдээллийн системийн менежментийн тэнхим\": { phone: \"7000-1141\", email: \"ism@ufe.edu.mn\" },\n  \"Нягтлан бодох бүртгэлийн тэнхим\": { phone: \"7000-1142\", email: \"accounting@ufe.edu.mn\" },\n  \"Санхүүгийн удирдлагын тэнхим\": { phone: \"7000-1144\", email: \"finance@ufe.edu.mn\" },\n  \"Экономиксийн тэнхим\": { phone: \"7000-1145\", email: \"economics@ufe.edu.mn\" },\n  \"Эрх зүйн тэнхим\": { phone: \"7000-1146\", email: \"law@ufe.edu.mn\" },\n  \"Эдийн засаг, санхүүгийн алба\": { phone: \"7000-1150\", email: \"finoffice@ufe.edu.mn\" },\n  \"Эрдэм шинжилгээний хэвлэл, номын сан\": { phone: \"7000-1130\", email: \"library@ufe.edu.mn\" },\n  \"Олон улсын сургууль\": { phone: \"7000-1155\", email: \"intl@ufe.edu.mn\" },\n  \"Энтрепренершип институт\": { phone: \"7000-1156\", email: \"entrepreneur@ufe.edu.mn\" },\n  \"Глобал эдийн засгийн судалгааны хүрээлэн\": { phone: \"7000-1157\", email: \"global@ufe.edu.mn\" },\n  \"Мэдээллийн технологийн алба\": { phone: \"7000-1160\", email: \"it@ufe.edu.mn\" },\n  \"Төлөвлөлт, хүний нөөцийн алба\": { phone: \"7000-1161\", email: \"hr@ufe.edu.mn\" },\n  \"Маркетингийн алба\": { phone: \"7000-1162\", email: \"mkt@ufe.edu.mn\" },\n  \"Оюутны дотуур байр\": { phone: \"7000-1170\", email: \"dorm@ufe.edu.mn\" },\n  \"Хангамж үйлчилгээ\": { phone: \"7000-1171\", email: \"supply@ufe.edu.mn\" },\n  \"Захиргаа, нийцлийн алба\": { phone: \"7000-1180\", email: \"admin@ufe.edu.mn\" },\n  \"Бүртгэл, чанарын алба\": { phone: \"7000-1181\", email: \"registry@ufe.edu.mn\" },\n  \"Хамтын ажиллагаа, бизнес хөгжлийн хүрээлэн\": { phone: \"7000-1190\", email: \"cooperation@ufe.edu.mn\" }\n};\n\n// Build reply based on detected department\nlet reply;\n\nif (contacts[dept]) {\n  const contact = contacts[dept];\n  \n  if (lang === 'mn') {\n    reply = `Уучлаарай, асуудал гарсан байна. 😔\\n` +\n            `Та \"${dept}\" 🏢-тай шууд холбогдоно уу:\\n` +\n            `📞 Утас: ${contact.phone}\\n` +\n            `📧 И-мэйл: ${contact.email}\\n` +\n            `Эсвэл асуудлынхаа талаар дэлгэрэнгүй бичнэ үү. ` +\n            `Бид таны асуудлыг яаралтай шийдвэрлэхийг хичээх болно! 💪✨`;\n  } else {\n    reply = `Sorry to hear you're having an issue. 😔\\n` +\n            `Please contact \"${dept}\" 🏢 directly:\\n` +\n            `📞 Phone: ${contact.phone}\\n` +\n            `📧 Email: ${contact.email}\\n` +\n            `Or describe your problem in detail and we'll work to resolve it quickly! 💪✨`;\n  }\n} else {\n  if (lang === 'mn') {\n    reply = `Уучлаарай, асуудал гарсан байна. 😔\\n` +\n            `Та дараах хаягаар холбогдоно уу:\\n` +\n            `📞 Утас: 7000-1100 (Бакалаврын сургалтын алба)\\n` +\n            `📧 И-мэйл: info@ufe.edu.mn\\n` +\n            `Асуудлынхаа талаар дэлгэрэнгүй бичнэ үү. 📝`;\n  } else {\n    reply = `Sorry to hear you're having an issue. 😔\\n` +\n            `Please contact us:\\n` +\n            `📞 Phone: 7000-1100 (Undergraduate Office)\\n` +\n            `📧 Email: info@ufe.edu.mn\\n` +\n            `Please describe your problem in detail. 📝`;\n  }\n}\n\nreturn [{ \n  reply, \n  model: 'static_response',\n  promptTokens: 0,\n  completionTokens: 0,\n  totalTokens: 0, \n  cost: 0,\n  intent,\n  department: dept,\n  confidence: confidence\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        2144
      ],
      "id": "97e4f254-88c2-4c13-9e2b-356095240079",
      "name": "Complaint Reply"
    },
    {
      "parameters": {
        "jsCode": "// New node: \"Thank You Reply\"\nconst intent = $('Intent detector').first().json.intent;\nlet reply;\nif ($('Language mapping').first().json.lang === 'mn') {\n  reply = \"Мэдээлэл өгсөндөө баяртай байна.😊\\n\\nДахин асуух зүйл гарвал дуртайяа хариулж туслахад бэлэн байна.\";\n} else {\n  reply = \"You're welcome!😊\\n\\nFeel free to ask if you have more questions.\";\n}\n\nreturn [{ \n  reply, \n  model: 'static_response',\n  promptTokens: 0,\n  completionTokens: 0,\n  totalTokens: 0, \n  cost: 0,\n  intent,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        2432
      ],
      "id": "b310a848-fc73-455e-b9f9-54ba2bd81376",
      "name": "Thank You Reply"
    },
    {
      "parameters": {
        "content": "META app - тай холбоход хэрэглэгдэх хэсэг",
        "height": 224,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        1456
      ],
      "typeVersion": 1,
      "id": "b3cb1ae9-c4d3-4104-97cc-c8bbfa929a5b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "table",
        "workbook": {
          "__rl": true,
          "value": "01XFIX4FPRQLKBAQMRHBDILWUHHLMUCPDG",
          "mode": "list",
          "cachedResultName": "UFE_Messenger_Logs",
          "cachedResultUrl": "https://ufenu-my.sharepoint.com/personal/bat-orgil_b_ufe_edu_mn/_layouts/15/Doc.aspx?sourcedoc=%7B10D482F1-9141-4638-85DA-873AD9413C66%7D&file=UFE_Messenger_Logs.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://ufenu-my.sharepoint.com/personal/bat-orgil_b_ufe_edu_mn/_layouts/15/Doc.aspx?sourcedoc=%7B10D482F1-9141-4638-85DA-873AD9413C66%7D&file=UFE_Messenger_Logs.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Sheet1!A1"
        },
        "table": {
          "__rl": true,
          "value": "{815434C6-EBBB-49E8-8D25-79F93157DFB0}",
          "mode": "list",
          "cachedResultName": "ChatLogs",
          "cachedResultUrl": "https://ufenu-my.sharepoint.com/personal/bat-orgil_b_ufe_edu_mn/_layouts/15/Doc.aspx?sourcedoc=%7B10D482F1-9141-4638-85DA-873AD9413C66%7D&file=UFE_Messenger_Logs.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Sheet1!A1:P2"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "timestamp",
              "fieldValue": "={{ $json.timestamp }}"
            },
            {
              "column": "session_id",
              "fieldValue": "={{ $json.session_id }}"
            },
            {
              "column": "psid",
              "fieldValue": "={{ $json.psid }}"
            },
            {
              "column": "user_text",
              "fieldValue": "={{ $json.user_text }}"
            },
            {
              "column": "detected_lang",
              "fieldValue": "={{ $json.detected_lang }}"
            },
            {
              "column": "intent",
              "fieldValue": "={{ $json.intent }}"
            },
            {
              "column": "department",
              "fieldValue": "={{ $json.department }}"
            },
            {
              "column": "confidence",
              "fieldValue": "={{ $json.confidence }}"
            },
            {
              "column": "bot_reply",
              "fieldValue": "={{ $json.bot_reply }}"
            },
            {
              "column": "model_used",
              "fieldValue": "={{ $json.model_used }}"
            },
            {
              "column": "prompt_tokens",
              "fieldValue": "={{ $json.prompt_tokens }}"
            },
            {
              "column": "completion_tokens",
              "fieldValue": "={{ $json.completion_tokens }}"
            },
            {
              "column": "total_tokens",
              "fieldValue": "={{ $json.total_tokens }}"
            },
            {
              "column": "cost_usd",
              "fieldValue": "={{ $json.cost_usd }}"
            },
            {
              "column": "date",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "column": "time",
              "fieldValue": "={{ $json.time }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        4624,
        1984
      ],
      "id": "d29cb073-da61-453f-aa40-7eedbd842995",
      "name": "Append rows to table",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "plhF2dZndjKCEqaz",
          "name": "Microsoft Excel account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect reply from any of the reply nodes\nconst inputData = $input.first().json;\n\n// Extract the core data we need\nconst bot_reply = inputData.reply || inputData.output || inputData.text || 'No reply generated';\nconst model = inputData.model || 'unknown';\nconst intent = inputData.intent || 'unknown';\nconst totalTokens = inputData.totalTokens || 0;\nconst promptTokens = inputData.promptTokens || 0;\nconst completionTokens = inputData.completionTokens || 0;\nconst cost = inputData.cost || 0;\n\n// Get webhook data for sender/recipient info\nconst webhookData = $('Webhook').first().json;\nconst senderId = webhookData.body.entry[0].messaging[0].sender.id;\nconst recipientId = webhookData.body.entry[0].messaging[0].recipient.id;\nconst userText = webhookData.body.entry[0].messaging[0].message.text;\n\n// Get other contextual data\nconst languageData = $('Language mapping').first().json;\nconst detectorData = $('Department detector').first().json;\nconst intentData = $('Intent detector').first().json;\n\n// SAFE ACCESS to RAG data even if node didn't run\nlet ragData = {};\ntry {\n  const node = $('Process RAG Context').first();\n  ragData = (node && node.json && !node.json.error) ? node.json : {};\n} catch (e) {\n  ragData = {};\n}\n// Generate timestamp in Mongolia timezone (UTC+8)\nconst now = new Date(Date.now() + 8*3600*1000);\nconst timestamp = `${now.getFullYear()}.${String(now.getMonth()+1).padStart(2,'0')}.${String(now.getDate()).padStart(2,'0')} ${String(now.getHours()).padStart(2,'0')}:${String(now.getMinutes()).padStart(2,'0')}:${String(now.getSeconds()).padStart(2,'0')}`;\nconst date = `${now.getFullYear()}-${String(now.getMonth()+1).padStart(2,'0')}-${String(now.getDate()).padStart(2,'0')}`;\nconst time = now.toISOString().split('T')[1].split('.')[0];\n\n// Return data for BOTH outputs\nconst outputData = {\n  // For HTTP Request\n  bot_reply,\n  sender_id: senderId,\n  recipient_id: recipientId,\n  \n  // For Excel logging\n  timestamp,\n  session_id: senderId,\n  psid: senderId,\n  user_text: userText,\n  detected_lang: languageData.lang,\n  intent,\n  department: detectorData.department,\n  confidence: detectorData.confidence,\n  model_used: model,\n  prompt_tokens: promptTokens,\n  completion_tokens: completionTokens,\n  total_tokens: totalTokens,\n  cost_usd: cost,\n  date,\n  time,\n  \n  // RAG metadata (safe defaults if not used)\n  rag_used: ragData.hasValidContext || false,\n  rag_chunks: ragData.chunkCount || 0,\n  rag_documents: ragData.documents || '',\n  rag_tokens: ragData.tokenUsage?.total_tokens || 0\n};\n\nreturn [outputData];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4432,
        1808
      ],
      "id": "fb3b6460-2d06-40ec-b18c-3c0196e3894a",
      "name": "Collect All Replies"
    },
    {
      "parameters": {
        "jsCode": "// UFE Contacts Data Generator\n// Updated with real contact information from official documents\n// Department names kept as provided, phone/email updated from official sources\n\nconst contacts = [\n  {\n    department_id: 1,\n    department_name: \"Ахисан түвшний сургууль\",\n    phone: \"77248888\",\n    extension: \"1-1, 1-2\",\n    email: \"mba@ufe.edu.mn\",\n    secondary_email: \"rdp@ufe.edu.mn\",\n    alias_keywords: \"магистр, masters, m.b.a, ахисан, graduate school, магистрын хөтөлбөр\"\n  },\n  {\n    department_id: 2,\n    department_name: \"Олон улсын сургууль\",\n    phone: \"77737777\",\n    extension: \"10\",\n    email: \"CTD_ALL@ufe.edu.mn\",\n    alias_keywords: \"олон улсын сургууль, international school, exchange, солилцоо, гадаадын оюутан\"\n  },\n  {\n    department_id: 3,\n    department_name: \"Бакалаврын сургалтын алба\",\n    phone: \"77771100\",\n    extension: \"1-1 to 1-6\",\n    email: \"bachelor-program@ufe.edu.mn\",\n    secondary_email: \"ufe_connect@ufe.edu.mn\",\n    alias_keywords: \"бакалавр, undergraduate, элсэлт, admission, бүртгүүлэх, enrollment\"\n  },\n  {\n    department_id: 4,\n    department_name: \"Бизнесийн удирдлагын тэнхим\",\n    phone: \"77737777\",\n    extension: \"1\",\n    email: \"BMD_ALL@ufe.edu.mn\",\n    alias_keywords: \"бизнесийн удирдлага, business administration, менежмент тэнхим, management\"\n  },\n  {\n    department_id: 5,\n    department_name: \"Маркетингийн тэнхим\",\n    phone: \"77737777\",\n    extension: \"1\",\n    email: \"BMD_ALL@ufe.edu.mn\",\n    alias_keywords: \"маркетингийн тэнхим, marketing department, маркетингийн мэргэжил\"\n  },\n  {\n    department_id: 6,\n    department_name: \"Мэдээллийн системийн менежментийн тэнхим\",\n    phone: \"77737777\",\n    extension: \"8\",\n    email: \"ISM_ALL@ufe.edu.mn\",\n    alias_keywords: \"мэдээллийн систем, information systems, ism, mis, IT мэргэжил\"\n  },\n  {\n    department_id: 7,\n    department_name: \"Нягтлан бодох бүртгэлийн тэнхим\",\n    phone: \"77737777\",\n    extension: \"2\",\n    email: \"BMD_ALL@ufe.edu.mn\",\n    alias_keywords: \"нягтлан бодох, accounting department, acca, бүртгэлийн тэнхим, нягтлан\"\n  },\n  {\n    department_id: 8,\n    department_name: \"Санхүүгийн удирдлагын тэнхим\",\n    phone: \"77737777\",\n    extension: \"3\",\n    email: \"FMD_ALL@ufe.edu.mn\",\n    alias_keywords: \"санхүүгийн тэнхим, finance department, санхүүгийн мэргэжил, санхүү\"\n  },\n  {\n    department_id: 9,\n    department_name: \"Эконометриксийн тэнхим\",\n    phone: \"77737777\",\n    extension: \"4\",\n    email: \"ECON_ALL@ufe.edu.mn\",\n    alias_keywords: \"эконометрикс, economics department, эдийн засгийн тэнхим, эдийн засаг\"\n  },\n  {\n    department_id: 10,\n    department_name: \"Эрх зүйн тэнхим\",\n    phone: \"77737777\",\n    extension: \"5\",\n    email: \"LAW_ALL@ufe.edu.mn\",\n    alias_keywords: \"эрх зүйн тэнхим, эрх зүйн хөтөлбөр, law department, хуулийн тэнхим, legal studies\"\n  },\n  {\n    department_id: 11,\n    department_name: \"Эдийн засаг, санхүүгийн алба\",\n    phone: \"77774400\",\n    extension: \"2-1\",\n    email: \"sankhuu_@ufe.edu.mn\",\n    alias_keywords: \"санхүүгийн алба, finance office, төлбөр, payment, scholarship, тэтгэлэг\"\n  },\n  {\n    department_id: 12,\n    department_name: \"Эрдэм шинжилгээний хэвлэл, номын сан\",\n    phone: \"77248888\",\n    extension: \"2-1 to 2-4\",\n    email: \"library_ufe@ufe.edu.mn\",\n    alias_keywords: \"номын сан, library, publication, хэвлэл, research paper, судалгааны ажил\"\n  },\n  {\n    department_id: 13,\n    department_name: \"Энтрепренершип институт\",\n    phone: \"77350000\",\n    extension: \"2-1\",\n    email: \"pta_all@ufe.edu.mn\",\n    alias_keywords: \"энтрепренер, entrepreneur, startup, стартап, бизнес санаа\"\n  },\n  {\n    department_id: 14,\n    department_name: \"Глобал эдийн засгийн судалгааны хүрээлэн\",\n    phone: \"77350000\",\n    extension: \"2-3\",\n    email: \"pta_all@ufe.edu.mn\",\n    alias_keywords: \"глобал эдийн засаг, global economics, global research, олон улсын судалгаа\"\n  },\n  {\n    department_id: 15,\n    department_name: \"Хамтын ажиллагаа, бизнес хөгжлийн хүрээлэн\",\n    phone: \"77350000\",\n    extension: \"2-1\",\n    email: \"pta_all@ufe.edu.mn\",\n    alias_keywords: \"хамтын ажиллагаа, cooperation, partnership, бизнес хөгжил\"\n  },\n  {\n    department_id: 16,\n    department_name: \"Мэдээллийн технологийн алба\",\n    phone: \"77350000\",\n    extension: \"1-1\",\n    email: \"pta_it@ufe.edu.mn\",\n    alias_keywords: \"айти алба, it office, tech support, wifi, password, computer, техник дэмжлэг\"\n  },\n  {\n    department_id: 17,\n    department_name: \"Төлөвлөлт, хүний нөөцийн алба\",\n    phone: \"77774400\",\n    extension: \"1-2\",\n    email: \"hr@ufe.edu.mn\",\n    alias_keywords: \"хүний нөөц, hr office, төлөвлөлт, human resources, ажилтны асуудал\"\n  },\n  {\n    department_id: 18,\n    department_name: \"Маркетингийн алба\",\n    phone: \"77350000\",\n    extension: \"1-4\",\n    email: \"pta_all@ufe.edu.mn\",\n    alias_keywords: \"маркетингийн алба, marketing office, сурталчилгаа, promotion, PR\"\n  },\n  {\n    department_id: 19,\n    department_name: \"Оюутны дотуур байр\",\n    phone: \"77774400\",\n    extension: \"2-4\",\n    email: \"hr@ufe.edu.mn\",\n    alias_keywords: \"дотуур байр, dorm, hostel, dormitory, оюутны байр\"\n  },\n  {\n    department_id: 20,\n    department_name: \"Хангамж үйлчилгээ\",\n    phone: \"77774400\",\n    extension: \"2-2\",\n    email: \"hr@ufe.edu.mn\",\n    alias_keywords: \"хангамж, үйлчилгээ, supply, service, facility\"\n  },\n  {\n    department_id: 21,\n    department_name: \"Захиргаа, нийцлийн алба\",\n    phone: \"77774400\",\n    extension: \"1-3\",\n    email: \"hr@ufe.edu.mn\",\n    alias_keywords: \"захиргаа, administration, нийцэл, compliance, удирдлага\"\n  },\n  {\n    department_id: 22,\n    department_name: \"Бүртгэл, чанарын алба\",\n    phone: \"77774400\",\n    extension: \"1-1\",\n    email: \"registrary@ufe.edu.mn\",\n    alias_keywords: \"бүртгэлийн алба, registry, чанарын алба, transcript, certificate, гэрчилгээ\"\n  },\n  {\n    department_id: 23,\n    department_name: \"Салбар дундын судлалын тэнхим\",\n    phone: \"77737777\",\n    extension: \"7\",\n    email: \"IDSD_ALL@ufe.edu.mn\",\n    alias_keywords: \"салбар дундын судлал, interdisciplinary studies, хөндлөн судлал\"\n  },\n  {\n    department_id: 24,\n    department_name: \"Хэрэглээний математик статистикийн тэнхим\",\n    phone: \"77737777\",\n    extension: \"6\",\n    email: \"AMSD_ALL@ufe.edu.mn\",\n    alias_keywords: \"суурь шинжлэх ухаан, математик, статистик, applied mathematics, statistics\"\n  },\n  {\n    department_id: 25,\n    department_name: \"Соёл иргэншил, аялал жуулчлалын тэнхим\",\n    phone: \"77737777\",\n    extension: \"9\",\n    email: \"CTD_ALL@ufe.edu.mn\",\n    alias_keywords: \"аялал жуулчлал, tourism, олон улсын аялал жуучлал, culture, соёл иргэншил\"\n  },\n  {\n    department_id: 26,\n    department_name: \"Тасралтгүй боловсролын төв\",\n    phone: \"77771100\",\n    extension: \"1-4\",\n    email: \"cec@ufe.edu.mn\",\n    alias_keywords: \"богино хугацаа, short course, тасралтгүй боловсрол, continuous education\"\n  },\n  {\n    department_id: 27,\n    department_name: \"Ректорын зөвлөл\",\n    phone: \"77774400\",\n    extension: \"1-4\",\n    email: \"rectors@ufe.edu.mn\",\n    alias_keywords: \"ректор, rector, удирдлага, leadership, зөвлөл\"\n  },\n  {\n    department_id: 28,\n    department_name: \"Тэнхимийн эрхлэгч нар\",\n    phone: \"77737777\",\n    email: \"dep_head@ufe.edu.mn\",\n    alias_keywords: \"тэнхимийн дарга, department head, эрхлэгч, chair\"\n  },\n  {\n    department_id: 29,\n    department_name: \"ACCA, CGMA хөтөлбөр\",\n    phone: \"77771100\",\n    extension: \"2-1, 2-2, 2-3\",\n    email: \"bachelor-program@ufe.edu.mn\",\n    alias_keywords: \"acca, cgma, нягтлан бодох, accounting certification, мэргэжлийн гэрчилгээ\"\n  },\n  {\n    department_id: 30,\n    department_name: \"Хөтөлбөрийн инновацийн төв\",\n    phone: \"77350000\",\n    extension: \"3\",\n    email: \"pta_all@ufe.edu.mn\",\n    alias_keywords: \"инновацийн төв, innovation center, хөтөлбөрийн хөгжил, program development\"\n  },\n  {\n    department_id: 31,\n    department_name: \"Бакалаврын сургалт, судалгааны алба\",\n    phone: \"77771100\",\n    extension: \"1-6\",\n    email: \"academicaffairs@ufe.edu.mn\",\n    alias_keywords: \"бакалаврын судалгаа, academic affairs, БССА, академик хэрэг\"\n  },\n  {\n    department_id: 32,\n    department_name: \"Нийт багш, ажилтан\",\n    phone: \"77774400\",\n    email: \"UFE_ALL@ufe.edu.mn\",\n    alias_keywords: \"бүх ажилтан, all staff, багш нар, faculty, teachers\"\n  }\n];\n\n// Return all contacts as separate items for bulk insert\nreturn contacts.map(contact => ({ json: contact }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        2256
      ],
      "id": "93f28ae2-07d9-4926-bade-4ed7c7047e22",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Po2SeoVl9G94CYDi",
          "mode": "list",
          "cachedResultName": "UFE_Contacts",
          "cachedResultUrl": "/projects/6VLw6tZeqx2XyAa1/datatables/Po2SeoVl9G94CYDi"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.phone }}",
            "department_id": "={{ $json.department_id }}",
            "department_name": "={{ $json.department_name }}",
            "email": "={{ $json.email }}",
            "alias_keywords": "={{ $json.alias_keywords }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "department_id",
              "displayName": "department_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "department_name",
              "displayName": "department_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "alias_keywords",
              "displayName": "alias_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2976,
        2256
      ],
      "id": "880e98ee-3e91-41f3-9281-1fe9c34730d5",
      "name": "Insert row",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.chat.ufe.edu.mn/api/v1/public/facebook/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"facebook_user_id\": \"{{ $('Webhook').first().json.body.entry[0].messaging[0].sender.id }}\",\n  \"message\": \"{{ $('Language mapping').first().json.text }}\",\n  \"full_name\": \"Facebook User\",\n  \"conversation_id\": \"{{ $('Webhook').first().json.body.entry[0].messaging[0].sender.id }}\",\n  \"classification_filter\": [\"bachelor\"],\n  \"include_external\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3840,
        1552
      ],
      "id": "b713dece-f2a3-4aca-ac81-bff182d2c693",
      "name": "Query RAG Database"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const ragResponse = $input.first().json;\n  const userText = $('Language mapping').first().json.text;\n  const lang = $('Language mapping').first().json.lang;\n\n  // Handle array response (your API returns an array)\n  const data = Array.isArray(ragResponse) ? ragResponse[0] : ragResponse;\n\n  if (!data) {\n    console.log('No RAG response, falling back to direct AI');\n    return [{\n      text: userText,\n      originalText: userText,\n      ragContext: null,\n      hasValidContext: false,\n      error: 'No RAG response'\n    }];\n  }\n\n  const assistantMessage = data.assistant_message || '';\n  const chunks = data.context?.chunks || [];\n  const tokenUsage = data.token_usage || {};\n\n  // Check if RAG found meaningful information\n  const noInfoMessage = lang === 'mn' \n    ? \"Уучлаарай, одоогоор энэ мэдээлэл надад байхгүй байна\"\n    : \"Sorry, I don't have this information\";\n\n  const hasValidInfo = chunks.length > 0 && \n                       assistantMessage && \n                       !assistantMessage.includes(noInfoMessage);\n\n  // Build context with document references\n  let contextText = '';\n  let documentList = '';\n  \n  if (chunks.length > 0) {\n    contextText = chunks\n      .map((chunk, idx) => {\n        const docName = chunk.document_name || 'Document';\n        const content = chunk.content || '';\n        const similarity = (chunk.scores?.similarity * 100).toFixed(1);\n        \n        return `[${chunk.reference || idx + 1}] ${docName} (Relevance: ${similarity}%)\\n${content}`;\n      })\n      .join('\\n\\n');\n\n    // Get unique document names\n    const uniqueDocs = [...new Set(chunks.map(c => c.document_name))];\n    documentList = uniqueDocs.join(', ');\n  }\n\n  // Build enhanced prompt\n  let enhancedPrompt;\n\n  if (hasValidInfo) {\n    enhancedPrompt = lang === 'mn' \n      ? `Дараах албан баримтаас олдсон мэдээллийг ашиглан асуултад ДЭЛГЭРЭНГҮЙ хариулна уу:\\n\\n${contextText}\\n\\n---\\nОюутны асуулт: ${userText}\\n\\nЗөвхөн дээрх баримт бичгийн мэдээлэлд үндэслэн хариулж, эх сурвалжийг дурдана уу. Мэдээлэл дутуу бол холбогдох хэлтсийн утас, и-мэйлийг санал болгоно уу.`\n      : `Use the following information from official documents to answer the question in DETAIL:\\n\\n${contextText}\\n\\n---\\nStudent question: ${userText}\\n\\nBase your answer only on the documents above and cite sources. If incomplete, suggest relevant department contacts.`;\n  } else {\n    // No valid context, but still pass to AI with note\n    enhancedPrompt = lang === 'mn'\n      ? `Асуулт: ${userText}\\n\\n(Тайлбар: Албан баримтаас тодорхой мэдээлэл олдсонгүй. Та ерөнхий мэдлэгээрээ хариулах эсвэл холбогдох хэлтэст лавлахыг зөвлөнө үү.)`\n      : `Question: ${userText}\\n\\n(Note: No specific information found in official documents. Provide general knowledge or suggest contacting relevant department.)`;\n  }\n\n  return [{\n    text: enhancedPrompt,\n    originalText: userText,\n    ragContext: contextText,\n    assistantMessage: assistantMessage,\n    hasValidContext: hasValidInfo,\n    chunkCount: chunks.length,\n    tokenUsage: tokenUsage,\n    documents: documentList,\n    conversationId: data.conversation_id\n  }];\n\n} catch (error) {\n  console.error('RAG processing error:', error);\n  \n  // Fallback to direct AI processing\n  return [{\n    text: $('Language mapping').first().json.text,\n    originalText: $('Language mapping').first().json.text,\n    ragContext: null,\n    hasValidContext: false,\n    error: error.message\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4016,
        1552
      ],
      "id": "26fe7817-2aeb-401c-9998-fad7cb288bbc",
      "name": "Process RAG Context"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI output to REPLY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Language detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Language detector": {
      "main": [
        [
          {
            "node": "Language mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Language detector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Language mapping": {
      "main": [
        [
          {
            "node": "Department detector",
            "type": "main",
            "index": 0
          },
          {
            "node": "Intent detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent detector": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Department detector": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact info reply": {
      "main": [
        [
          {
            "node": "Collect All Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback reply": {
      "main": [
        [
          {
            "node": "Collect All Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "greetingReply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contact info reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query RAG Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complaint Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thank You Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI output to REPLY": {
      "main": [
        [
          {
            "node": "Collect All Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "greetingReply": {
      "main": [
        [
          {
            "node": "Collect All Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory(Shared)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Complaint Reply": {
      "main": [
        [
          {
            "node": "Collect All Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thank You Reply": {
      "main": [
        [
          {
            "node": "Collect All Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append rows to table": {
      "main": [
        []
      ]
    },
    "Collect All Replies": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append rows to table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query RAG Database": {
      "main": [
        [
          {
            "node": "Process RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process RAG Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95f67b24-297f-403d-b4aa-e119f6420da2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20c29e5883a73b6adc7efe1c55dec6304f0811367bf9489ecbc69864f9d20fec"
  },
  "id": "HPAqu8e2mGSUdAT1",
  "tags": []
}